/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

#messagesList {
    margin-top: 60px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.text-pre {
    white-space: pre;
}

.text-pre-wrap {
    white-space: pre-wrap !important;
}

.log-box-item {
    margin: 0 0.5em;
}

.log-box .log-box-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.log-box .log-box-label{
    display: none
}

.flex-column.log-box .log-box-text {
    white-space: pre-wrap !important;
    text-overflow: initial;
    overflow: auto;
    display: inline;
}

.flex-column.log-box .log-box-label {
    display: inline-block
}

.log-box .log-box-text.d-w-2 {
    width: 2em;
}

.log-box .log-box-text.d-w-5 {
    width: 5em;
}

.log-box .log-box-text.d-w-6 {
    width: 6em;
}

.log-box .log-box-text.d-w-10 {
    width: 10em;
}

.log-box .log-box-text.d-w-50 {
    width: 50em;
}

.flex-column.log-box .log-box-text {
    width: auto !important;
}

.min-w-2 {
    min-width: 2em;
}

.min-w-4 {
    min-width: 4em;
}

.min-w-5 {
    min-width: 5em;
}

.min-w-8 {
    min-width: 8em;
}

.min-w-10 {
    min-width: 10em;
}

.min-w-20 {
    min-width: 20em;
}

.min-w-30 {
    min-width: 30em;
}

.min-w-50 {
    min-width: 50em;
}

.log-level-W {
    color: #ffc107
}

.log-level-E {
    color: red
}

.log-level-F {
    color: purple
}